---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="css/font.css" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <img src="assets/logo-DolarHoy.svg" alt="Logo Dolar Hoy" />
    </header>
    <slot />
  </body>

  <style is:global>
    :root {
      --green: #079a7d;
      --white: #f8f8f8;
      --blue: #54b5bd;
    }

    html {
      background-color: var(--white);
      width: 35rem;
    }

    header {
      display: flex;
      justify-content: center;
      padding: 10px;
    }

    .loader {
      width: 48px;
      height: 48px;
      border: 5px solid var(--green);
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  </style>
</html>
